<!doctype html>
<html lang="en">

<head>
	<title>Jaysee: yet another JSON visualizer</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Yet another JSON visualizer">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
	<meta name="theme-color" content="#673ab7">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Jaysee">
	<meta name="application-name" content="Jaysee">
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="apple-touch-icon-precomposed" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_purple-deep_orange.min.css">
	<style type="text/css">
		html,
		body {
		  font-family: 'Roboto', 'Helvetica', sans-serif;
		}
		@media screen and (min-width: 1024px) {
			/*
			#content {
				transform-origin: 0 0;
				transform: scale(1.25)
			}
			*/
			.mdl-data-table, .mdl-data-table th ,.mdl-data-table td {
				font-size: medium;
			}
		}
		.wrapper {
			overflow: hidden;
			position: relative;
			opacity: 0;
			height: 0;
			transition: all 0.2s ease-out;
		}
		.wrapper.expanded {
			opacity: 1;
			height: 100%;
			transition: all 0.2s;
		}
		.is-leaf {
			font-weight: 500;
			width: 90px;
		}
		.is-node {
			width: 100%;
		}
		.mdl-layout__header-row {
			padding: 0 20px;
		}
		.mdl-layout__content {
			padding: 20px;
		}
		.mdl-data-table th {
			cursor: pointer;
		}
		.mdl-data-table td {
			vertical-align: top;
		}
		.mdl-button {
			margin-right: 10px;
		}
	</style>
	<script>
		/*global ga*/
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments);
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m);
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-19223409-5', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header id="header" class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Jaysee</span>
				<div class="mdl-layout-spacer"></div>
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
					<i class="material-icons">more_vert</i>
				</button>
				<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
					<li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Save as JSON</li>
					<li class="mdl-menu__item">About</li>
				</ul>
			</div>
		</header>
		<main id="content" class="mdl-layout__content">
			<object-dump :model="root"></object-dump>
		</main>
	</div>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js"></script>
	<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
	<script>
		! function() { /* global axios,Vue */
			'use strict';
			let collection = [];

			function objectToArray(o) {
				return Object.keys(o).map(function(k) {
					return Object.prototype.toString.call(o[k]) === '[object Object]'
						? [k, objectToArray(o[k])]
						: [k, o[k]];
				});
			}

			Vue.component('object-dump', {
				template: ''
					+'<table class="mdl-data-table mdl-js-data-table">'
						+'<thead>'
							+'<tr>'
								+'<th @click="sort(0)" :class="getSorter(0)">Key</th>'
								+'<th @click="sort(1)" :class="getSorter(1)">Value</th>'
							+'</tr>'
						+'</thead>'
						+'<tbody>'
							+'<tr v-for="(item, index) in model">'
								+'<td class="mdl-data-table__cell--non-numeric">'
									+'<button v-if="!isLeaf(item[1])" @click="toggle(index)" class="mdl-button mdl-js-button mdl-button--icon">'
										+'<i class="material-icons">{{ isOpen(index) ? "remove" : "add" }}</i>'
									+'</button>'
									+'{{ item[0] }}'
								+'</td>'
								+'<td v-if="isLeaf(item[1])" class="mdl-data-table__cell--non-numeric is-leaf">'
									+'{{ item[1] | format }}'
								+'</td>'
								+'<td v-else class="mdl-data-table__cell--non-numeric">'
									+'<div class="wrapper" :class="{ expanded: isOpen(index) }" >'
										+'<object-dump class="is-node" :model="item[1]"></object-dump>'
									+'</div>'
								+'</td>'
							+'</tr>'
						+'</tbody>'
					+'</table>',
				props: {
					model: Array
				},
				data: function() {
					return {
						openMap: {}, // Hash map with indices of open nodes.
						sortMap: {}, // Current sort order of table (key or value, ascending or descending).
						original: this.model.slice() // Copy used for restoring unsorted model.
					};
				},
				filters: {
					format: function(aValue) {
						return aValue && aValue < 1
							? aValue.toFixed(3)
							: aValue;
					}
				},
				methods: {
					toggle: function(anIndex) {
						// Use Vue.set to let observer observe.
						Vue.set(this.openMap, anIndex, !this.openMap[anIndex]);
					},
					isOpen: function(anIndex) {
						return this.openMap[anIndex];
					},
					isLeaf: function(anObject) {
						return Object.prototype.toString.call(anObject) !== '[object Array]';
					},
					sort: function(aColumn) {
						var self = this;

						Vue.set(this.sortMap, aColumn, this.sortMap[aColumn] === true ? false : (this.sortMap[aColumn] === false ? null : true));
						Vue.set(this.sortMap, aColumn + 1 % 2, null);
						if (this.sortMap[aColumn] === null) {
							// Must use Vue wrapped mutating array functions to avoud warning.
							Array.prototype.splice.apply(this.model, [0,this.model.length].concat(this.original));
						} else {
							//this.original = this.original || this.model.slice();
							this.model.sort(function(a,b) {
								if (a[aColumn] < b[aColumn]) return self.sortMap[aColumn] ? -1 : +1;
								if (a[aColumn] > b[aColumn]) return self.sortMap[aColumn] ? +1 : -1;
								return 0;
							});
						}
					},
					getSorter: function(aColumn) {
						var sc = 'mdl-data-table__cell--non-numeric ';

						switch(this.sortMap[aColumn]) {
							case true:
								sc += 'mdl-data-table__header--sorted-ascending';
								break;
							case false:
								sc += 'mdl-data-table__header--sorted-descending';
								break;
						}
						return sc;
					}
				}
			});


			//TODO: insert the value of `call` query parameter here.
			//TODO: use cloud.medicor.se as a reverse proxy to avoid CORS problems.
			//TODO: filter box, filter by all attributes?
			//TODO: display api string (formated?)


//			axios.get('http://jsfiddle.net/api/user/medicor/demo/list.json?limit=100')
			axios.get('http://stratum.registercentrum.se/api/aggregate/LVR/Visit/total/share(BodyMassIndex(null))/county(VisitUnit)/VisitUnit?apikey=bK3H9bwaG4o=')
				.then(function(aResponse) {
					var rd = aResponse.data.data || aResponse.data; // Response from Stratum is beneath data attribute.
					// Stratums api responses are (most often) associative arrays - transform to key/value arrays.
					collection = Object.prototype.toString.call(rd) === '[object Object]'
						? objectToArray(rd)
						: rd;

					new Vue({
						el: '#content',
						data: {
							root: collection
						}
					});
				})
				.catch(function(anError) {
					console.log(anError);
				});
		}();
	</script>
</body>

</html>
