<!doctype html>
<html lang="en">

<head>
	<title>Jaysee: yet another JSON visualizer</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Yet another JSON visualizer">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
	<meta name="theme-color" content="#673ab7">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Jaysee">
	<meta name="application-name" content="Jaysee">
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="apple-touch-icon-precomposed" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<style type="text/css">
		#layout {
			opacity: 0;
			transition: opacity 0.5s ease-in;
		}
		#layout.loaded {
			opacity: 1;
		}
	</style>
	<script>
		/*global ga*/
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function() {
				(i[r].q = i[r].q || []).push(arguments);
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m);
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-19223409-5', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>
	<div id="layout" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header id="header" class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<div id="title" class="mdl-layout-title"></div>
				<div class="mdl-layout-spacer"></div>
				<section id="section-source">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" spellcheck="false" id="item-source" :value="source" @keyup.13="load">
						<label class="mdl-textfield__label" for="item-source">Enter API URL here ...</label>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" @click="load">
						<i class="material-icons">refresh</i>
					</button>
				</section>
				<div class="mdl-layout-spacer"></div>
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
					<i class="material-icons">more_vert</i>
				</button>
				<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
					<li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Save as JSON</li>
					<li class="mdl-menu__item">About</li>
				</ul>
			</div>
		</header>
		<main id="content" class="mdl-layout__content">
			<div id="progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" v-show="this.source && !this.entity"></div>
			<div id="toaster" class="mdl-snackbar mdl-js-snackbar">
				<div class="mdl-snackbar__text"></div>
				<button class="mdl-snackbar__action" type="button"></button>
			</div>
			<section id="section-filter" v-show="this.entity">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="item-filter" v-model="filter">
					<label class="mdl-textfield__label" for="item-filter">Filter</label>
				</div>
			</section>
			<section id="section-buttons" v-show="this.entity">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="more">
					<i class="material-icons">expand_more</i>Expand
				</button>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="less">
					<i class="material-icons">expand_less</i>Collapse
				</button>
			</section>
			<section id="section-dump" v-show="this.entity">
				<dump-table :model="entity">
					<dump-row v-for="child in entity" :model="child"></dump-row>
				</dump-table>
			</section>
		</main>
	</div>
	<script src="library/loader.js"></script>
	<script>/* global Loader, Butter, Vue, axios */

		Loader.inject([
			'https://code.getmdl.io/1.2.1/material.deep_purple-orange.min.css',
			'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700',
			'https://fonts.googleapis.com/icon?family=Material+Icons',
			'https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.1/material.min.js',
//			'https://cdn.polyfill.io/v2/polyfill.min.js?features=es6&flags=gated',
		  	'https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.min.js',
			'https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js',
			'library/butter.js'
		], () => {
			Loader.inject([
				'app.css',
				'components/dump-table.js',
				'components/dump-row.js'
			], start);
		});

		function start() {
			let parameter = Butter.queryToObject(window.location.search);

			document.querySelector('#layout').className += ' loaded'; // Prevents FOUC due to PageSpeed optimizations.
			new Vue({ // MDL needs Vue to be initiated early.
				el: '#layout',
				data: {
					entity: null,
					source: null,
					filter: ''
				},
				created() {
					if (parameter.call) {
						this.source = decodeURIComponent(parameter.call);
					}
					if (!this.debouncer) {
						 this.debouncer = Butter.debounce(this.sift);
					}
				},
				methods: {
					process(r, f) {
						r.$children.forEach((c) => {
							f(c);
							this.process(c, f);
						});
					},
					load() {
						this.source = document.querySelector('#item-source').value;
					},
					sift() {
						if (this.filter.length > 0) {
							this.process(this.$children[0], (c) => {
								if (c.$vnode.componentOptions.tag === 'dump-row') {
									if (c.model[0].toString().toLowerCase().includes(this.filter) || c.model[1].toString().toLowerCase().includes(this.filter)) {
										c.open = true;
										c.show = true;
									} else {
										c.show = false;
									}
								}
							});
						} else {
							this.process(this.$children[0], (c) => {
								if (c.$vnode.componentOptions.tag === 'dump-row') {
									c.open = false;
									c.show = true;
								}
							});
						}
					},
					more() {
						this.process(this.$children[0], (c) => {
							if (c.$vnode.componentOptions.tag === 'dump-row') {
								c.open = true;
							}
						});
					},
					less () {
						this.process(this.$children[0], (c) => {
							if (c.$vnode.componentOptions.tag === 'dump-row') {
								c.open = false;
							}
						});
					}
				},
				watch: {
					source() {
						this.entity = null;
						axios.get(this.source)
							.then(aResponse => {
								window.history.pushState({}, 'Jaysee', `?call=${encodeURIComponent(this.source)}`);
								this.entity = Butter.objectToArray(aResponse.data.data || aResponse.data); // Transform objects (and arrays) to key/value arrays.
							})
							.catch(anError => {
								console.log(anError);
								document.querySelector('#progress').style = 'display: none';
								document.querySelector('#toaster').MaterialSnackbar.showSnackbar({ message: anError });
							});
					},
					filter() {
						this.debouncer();
					}
				}
			});
		}
	</script>
</body>

</html>

